<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Contact Us</h5>
                <p>+91-9087864370</p>
                <p>Muththalamman Koil St, Nallan Kuppam, <br />West Mambalam
                    Chennai, <br />Tamil Nadu , India<br />PIN 600036</p>
                <h5>We're on Social Media</h5>
                <div>
                    {% for item in site.data.social-media %}
                        <a href="{{item.link}}" class="fa {{item.icon}}" target="_blank"></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col ">
                <h5>Subscribe to our News Letter</h5>
                <a class="btn custom-btn mb-3" target="_blank" href="https://forms.gle/rfystmoqtqEuzXwU6">Subscribe</a>
                <h5>Links</h5>

                <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://involveedu.us17.list-manage.com/subscribe/post?u=7d18e31104f36cb1fcd6a0089&amp;id=54e87cd1c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
    <label for="mce-FNAME">First Name </label>
    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
    <label for="mce-LNAME">Last Name </label>
    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
    <label for="mce-MMERGE3">Know anyone from Involve? What's their name? </label>
    <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7d18e31104f36cb1fcd6a0089_54e87cd1c2" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


    

                
                <ul>
                    <li><a href="about-us">ABOUT US</a></li>
                    <li><a href="programs">OUR PROGRAMS</a></li>
                    <li><a href="resources">RESOURCES</a></li>
                    <li><a href="get-involved">GET INVOLVED</a></li>
                    <li><a href="peer-teaching">PEER TEACHING</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright mt-4">
        <div class="container">
            © 2020 Involve Learning Solutions Foundation
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>