<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Contact Us</h5>
                <p>+91-7305663905</p>
                <p>Muththalamman Koil St, Nallan Kuppam, <br />West Mambalam
                    Chennai, <br />Tamil Nadu , India<br />PIN 600036</p>
                <h5>We're on Social Media</h5>
                <div >
                    <a href="https://www.facebook.com/InvolveEducation/" class="fa fa-facebook"></a>
                    <a href="http://iaminvolved.wordpress.com/" class="fa fa-newspaper-o"></a>
                    <a href="https://www.linkedin.com/company/iaminvolved/" class="fa fa-linkedin"></a>
                    <a href="https://www.youtube.com/channel/UCDUYF8upzjiuvMgfYgS897A" class="fa fa-youtube"></a>
                    <a href="https://www.instagram.com/iaminvolved/?hl=en" class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="col ">
                <h5>Subscribe to our News Letter</h5>
                <a class="btn custom-btn mb-3" target="_blank" href="https://forms.gle/rfystmoqtqEuzXwU6">Subscribe</a>
                <h5>Links</h5>
                <ul>
                    <li><a href="aboutUs.html">ABOUT US</a></li>
                    <li><a href="programs.html">OUR PROGRAMS</a></li>
                    <li><a href="resources.html">RESOURCES</a></li>
                    <li><a href="getInvolved.html">GET INVOLVED</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright mt-4">
        <div class="container">
            © 2020 Involve Learning Solutions Foundation
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- <script>
    window.jQuery || document.write('<script src="/js/vendor/jquery-slim.min.js"><\/script>')

</script> -->
<script src="assets/js/bootstrap.min.js"></script>